# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/
EasyLog/obj/
EasyLog/bin/
EasyLog/obj/*
EasyLog/bin/*

# Common node modules locations
/node_modules
/wwwroot/node_modules

# Au cas ou 
.env

#vs

.vs/
